.header {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h2 {
  margin: 0;
  color: rgb(9, 180, 180);
  font-size: 34px;
  letter-spacing: 7px;
}
.logo p {
  margin: 0;
  font-size: 13px;
}

@media (max-width: 486px) {
  .logo p {
    display: none;
  }
}
